<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Voters Registration</title>

		<!-- Bootstrap Core CSS -->
		<link href="{% static 'polls/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="{% static 'polls/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

		<!-- Plugin CSS -->
		<link href="{% static 'polls/vendor/magnific-popup/magnific-popup.css' %} " rel="stylesheet">

		<!-- Theme CSS -->
		<link href="{% static 'polls/css/creative.min.css' %}" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		 <style type="text/css">
    label   { font-size:18px;
      width:100%;
            }
    .field {background-color:#f5f5f5;}

    .main_head {text-align: center;
    	font-color:black;
    }
    </style>

</head>

<body id="page-top">





		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
								</button>
								<a class="navbar-brand page-scroll" href="#page-top">Election Commission</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
										
										<li>
												<a class="page-scroll" href="#contact">Contact</a>
										</li>
								</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
		</nav>

		<section class="bg-primary">
{%if check == 1 %}
	error
{%elif check == 2 %}
{%else%} 
			 <div class="container">
	 

<legend class="well well-sm main_head"><h2>Candidate Information</h2></legend>


 <div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">Candidate Full Name</label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >{{canInfo.can_fullname}}</div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Voter Id
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{canInfo.can_voter_id}}
    </div>
  </div>
</div>







<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Gender
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{canInfo.can_gender}}
    </div>
  </div>
</div>






<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	FatherName

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{canInfo.can_fathername}}

    </div>
  </div>
</div>






<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Date of Birth
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{canInfo.can_dob}}

    </div>
  </div>
</div>






<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Party Involved
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{partyInfo.party_name}}
    </div>
  </div>
</div>






<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Area District

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{areaInfo.area_district}}

    </div>
  </div>
</div>






<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Area No

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{areaInfo.area_no}}
    </div>
  </div>
</div>



<legend style="color:white;">Permanent Address</legend>



<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
District
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{canAddressInfo.district}}

    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	VDC / Municipality

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{canAddressInfo.vdc_municipality}}
    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Ward No.
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{canAddressInfo.wardno}}

    </div>
  </div>
</div>




<hr class="light" style="max-width:100%; border-color:#f5f5f5; border-width:1px">


<legend style="color:white;">Pledge Information</legend>


<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Bank Name

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{pledgeInfo.pl_bankname}}

    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Voucher No.
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{pledgeInfo.pl_voucherno}}
    </div>
  </div>
</div>




<hr class="light" style="max-width:100%; border-color:#f5f5f5; border-width:1px">


<fieldset>



<legend class="well well-sm main_head"><h2>Mover Information</h2></legend>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Mover Name

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{moverInfo.mover_fullname}}
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Voter Id

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{moverInfo.mover_voter_id}}
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
Gender
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{moverInfo.mover_gender}}
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Father Name

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{moverInfo.mover_fathername}}

    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Date of Birth

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{moverInfo.mover_dob}}
    </div>
  </div>
</div>





<legend style="color:white;">Permanent Address</legend>



<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
District
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{moverAddressInfo.district}}

    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	VDC / Municipality

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{moverAddressInfo.vdc_municipality}}
    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Ward No.
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
 {{moverAddressInfo.wardno}}

    </div>
  </div>
</div>



<hr class="light" style="max-width:100%; border-color:#f5f5f5; border-width:1px">



<legend class="well well-sm main_head"><h2>Supporter Information</h2></legend>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Supporter Name

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{suppInfo.supp_fullname}} 
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Voter Id

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{suppInfo.supp_voter_id}}
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
Gender
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{suppInfo.supp_gender}}
    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Father Name

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{suppInfo.supp_fathername}}

    </div>
  </div>
</div>




<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	Date of Birth

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{suppInfo.supp_dob}}
    </div>
  </div>
</div>





<legend style="color:white;">Permanent Address</legend>



<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
District
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
{{suppAddressInfo.district}}

    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	VDC / Municipality

  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >

{{suppAddressInfo.vdc_municipality}}
    </div>
  </div>
</div>





<div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">
  	
Ward No.
  </label>
  <div class="col-xs-10">
    <div class="form-control field" id="example-text-input" >
 {{suppAddressInfo.wardno}}

    </div>
  </div>
</div>



<hr class="light" style="max-width:100%; border-color:#f5f5f5; border-width:1px">






	 <form action="{% url 'polls:edit' %}" method="post">

		 {%csrf_token %}

<button class='page-scroll btn btn-default btn-xl sr-button' type='text' name='voter_id' value='{{x.voter_id}}'>Edit</button>
</form>
						
				</div>
{%endif%}
		</section>

		<section id="contact">
				<div class="container">
						<div class="row">
								<div class="col-lg-8 col-lg-offset-2 text-center">
										<h2 class="section-heading">Contact Details</h2>
										<hr class="primary">
										<p>Election Commission Nepal<br>Kantipath, Kathmandu</p>
								</div>
								<div class="col-lg-4 col-lg-offset-2 text-center">
										<i class="fa fa-phone fa-3x sr-contact"></i>
										<p>977-01-4233497</p>
								</div>
								<div class="col-lg-4 text-center">
										<i class="fa fa-envelope-o fa-3x sr-contact"></i>
										<p><a href="mailto:your-email@your-domain.com">info@election.gov.np</a></p>
								</div>
						</div>
				</div>
		</section>

		<!-- jQuery -->
		<script src="{% static 'polls/vendor/jquery/jquery.min.js' %} "></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'polls/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

		<!-- Plugin JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="{% static 'polls/vendor/scrollreveal/scrollreveal.min.js'%}"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

		<!-- Theme JavaScript -->
		<script src="{% static 'polls/js/creative.min.js' %}"></script>

{% if check == 0 %}
	<h1>Sucessfully submitted</h1>
{%elif check == 1 %}
	<h1>Error in one or more input</h1>
{% endif %}



</body>

</html>
